@import "tailwindcss";
@theme{
    --breakpoint-width:1500px;
    --breakpoint-gg:1100px;
    --breakpoint-300px:300px;
    --font-playfair-disply: "Playfair Display", serif;
    --breakpoint-nav:2000px;
}